* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}



.scroll-div {
  position: relative;
  background-color: black;
  display: flex;
  /* display: none; */
  width: 100%;
  flex-wrap: wrap;
}

#nav-bar {
  position: sticky;
  z-index: 2;
  width: 20%;
  height: 70vh;
  top: 15vh;
  display: flex;
  align-items: center;
}

#nav-bar ul {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 15px;
}

#nav-bar ul a {
  text-decoration: none;
}

#nav-bar ul li {
  list-style: none;
  font-family: "Founders Grotesk Mono", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  border-left: 3px solid yellow;
  margin-bottom: 30px;
  padding-left: 20px;
}

.active {
  opacity: 1;
}

#para-box {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#para-box p {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Calibre, Arial, sans-serif;
  font-size: 1.3rem;
  line-height: 28px;
  transition: all 0.1s;
}

#image-box {
  position: sticky;
  display: flex;
  flex-direction: column;
  width: 49%;
  height: 80vh;
  top: 10vh;
}

.image {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image img {
  width: 100%;
  transition: all 0.1s;
}

#mobile-view {
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
}

.containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.containers .mob_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.mob_img img {
  width: 100%;
}

.mob_para {
  display: flex;
  padding-left: 10%;
  padding-right: 6%;
  width: 100%;
}

.containers p {
  font-family: Calibre, Arial, sans-serif;
  font-size: 1.3rem;
  line-height: 28px;
  transition: all 0.1s;
  max-width: 600px;
}


@media only screen and (max-width: 900px) {
    .scroll-div {
      display: none;
    }
  
    #mobile-view {
      display: flex;
    }
  }
